<!-- Navbar -->
<div class="flex flex-row fixed w-[75.3rem] -ml-14 bg-white -mt-1 justify-between">
  <div
    class="w-full mx-10 items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4 py-4"
  >
    <!-- Brand -->
    <a
      class="text-gray-300 text-sm uppercase hidden lg:inline-block font-semibold"
      href="#pablo"
      >Tableau de bord</a
    >

    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <app-user-dropdown class="block"></app-user-dropdown>
    </ul>
  </div>
</div>
