<div class="md:flex md:flex-col justify-center bg-blue-100 h-screen">
  <div class="md:flex items-center justify-center top-10 mb-20">
    <p class="text-center text-4xl font-serif underline text-gray-600">
      Formulaire du patient
    </p>
  </div>
  <div class="md:flex md:flex-col items-center justify-center h-1/2 mb-20">
    <div class="md:flex md:flex-row xl:px-2 justify-center md:space-x-2">
      <div
        class="bg-white border-spacing-4 p-8 mx-10 w-2/3 text-xl font-serif rounded-md shadow-md"
      >
        <div class="flex justify-end">
          <!-- <span class="font-sans flex justify-center items-center pb-1 text-white cursor-pointer font-light w-8 h-8 rounded-full bg-red-500" title="Fermer">x</span> -->
        </div>
      
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
          harum dolorem nostrum vero maxime molestiae ipsum ipsam, quaerat amet
          omnis eligendi sequi dignissimos, at minus animi modi consequatur
          obcaecati rem. Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Maiores harum dolorem nostrum vero maxime molestiae ipsum ipsam,
          quaerat amet omnis eligendi sequi dignissimos, at minus animi modi
          consequatur obcaecati rem. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Maiores harum dolorem nostrum vero maxime molestiae
          ipsum ipsam, quaerat amet omnis eligendi sequi dignissimos, at minus
          animi modi consequatur obcaecati rem. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Maiores harum dolorem nostrum vero
          maxime molestiae ipsum ipsam, quaerat amet omnis eligendi sequi
          dignissimos, at minus animi modi consequatur obcaecati rem.
        </p>
        <!-- Button -->
        <div class="flex items-center justify-center md:space-x-8">
          <button
            class="bg-red-500 p-2 rounded-md px-4 text-white hover:bg-red-300 hover:text-white"
          >
            Annuler
          </button>
          <button
            class="bg-blue-500 p-2 rounded-md text-white hover:bg-blue-300 hover:text-white"
          >
            Confirmer
          </button>
        </div>
        <!-- End Button -->
      </div>
    </div>
  </div>
</div>
