<div
  class="flex flex-col min-w-0 break-words bg-white w-[30rem] p-1 rounded xl:mb-0"
>
  <div class="flex-auto">
    <div class="flex flex-wrap p-2">
      <div
        class="relative w-full max-w-full flex-grow flex-1 "
      >
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
        >
        </canvas>
        <span class="font-semibold text-xl text-blue-700"> </span>
      </div>
      <div class="relative w-auto pl-4 flex-initial"></div>
    </div>
  </div>
</div>
<style>
  canvas {
    height: 275px !important;
    width: 100% !important;
  }
</style>

